.LandPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-container {
  background-color: #f4f5f8;
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  display: flex;
}
.front {
  flex-direction: column;
}
.navbar {
  width: 95%;
  height: 10%;
  display: flex;

  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.navbar1 {
  width: 25%;
  height: 10%;
  padding: 25px;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 1.25em !important;
  height: 1.25em !important;
}
.landingContent {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.tagLine {
  margin: 90px 15px 15px 15px;
  font-size: 30px;
  font-weight: 700;
  color: #2d3941;
}
.sb-search {
  background-color: white;
  border-radius: 20px;
  margin: 10px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Search-box {
  outline-width: 0;
  font-size: 1.25rem;
  margin-left: 10px;
  border: none;
  width: 100%;
  color: rgba(0, 0, 0, 0.54);
}
.bg-linear{
  background:linear-Gradient(
    to right,
    white 0%,
     rgb(132, 127, 127) 50%,
    
    white 50%,
    white 100%

  );
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 1.25) 9px 6px 12px -2px,
    rgba(1, 2, 3, 2.3) 0px 3px 7px -3px;
 
}
.bg-linear1{
  background:linear-Gradient(
    to left,
    white 0%,
    white 50%,
      lightpink 50%,    
    
    yellow 100%

  );
  height: 90vh;
  width: 90vw;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 1.25) 3px 6px 12px -2px,
    rgba(1, 2, 3, 2.3) 3px 3px 7px -3px;
 
}