.container {
    margin: 20px;
    border: 1px solid black;
    border-radius: 22px;
    background-color: white;
    padding: 20px;
    height: 100%;
  }
  
  .header {
    font-size: 24px;
    color: #ff5722; /* Deep Orange */
    display: flex;
    justify-content: space-between; /* Equal spacing between elements */
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd; /* Light gray */
    border-radius: 22px 22px 0 0; /* Rounded corners only at the top */
  }
  
  .search-button,
  .upload-button {
    background-color: #4caf50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .search-button:hover,
  .upload-button:hover {
    background-color: #45a049; /* Darker green */
  }
  
  .buttons {
    display: flex;
    gap: 10px;
  }
  
  .content {
    background-color: white;
    height: 100%; /* No scrolling */
  }
  
  body {
    background-color: grey; /* Light gray background for body */
    height: 100%;
  }
  
  .thought-image {
    display: flex;
     /* Display thoughts and image vertically */
    align-items: center; /* Center align items */
  }
  
  
  .thought p {
    color: #666;
    line-height: 1.6;
    font-size: 16px; /* Adjust font size for better readability */
  }
  
  .image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    max-height: 400px; /* Limit the height of the image */
    border-radius: 10px; /* Add border radius to the image */
  }
  